    *{
        color: white;
        font-size: 15;
        font-weight: bold;
    }
    body {
        background-image: url("../../assets/bodybackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        color: white;
 
        margin: 0;
        padding: 0;
        max-width: 100%;
        font-family: Courier New;
    }
    
    a {
        text-decoration: none;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo
    {
        font-size: 18px;
    }
    .nav {
        background-color:transparent;
        height: max-content;
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    
    .nav>.container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .nav>.container>.navBrand {
        display: flex;
        float: right;
        color: azure;
        text-decoration: none;
        font-size: 20px;
        width: 15%;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .navMenu {
        width: 85%;
    }
    
    .navMenu>.navMenuLeft>ul,
    .navMenu>.navMenuRight>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline;
    }
    
    .navMenu>.navMenuLeft>ul>li {
        float: left;
        /* display: block; */
        padding: 20px;
    }
    
    .navMenu>.navMenuRight>ul>li {
        float: right;
        /* display: block; */
        padding: 20px;
        margin-right: 20px;
    }
    
    .navMenu>.navMenuLeft>ul>li:hover,
    .navMenu>.navMenuRight>ul>li:hover {
       
        border-radius: 100%;
        color: #fff;
      
    }
    
    .navMenu>.navMenuLeft>ul>li:active,
    .navMenu>.navMenuRight>ul>li:active {
        background-color: grey;
    }
    
    .navMenu>.navMenuLeft>ul>li>a,
    .navMenu>.navMenuRight>ul>li>a {
        color: azure;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;

    }
    
    .activated {
        background-color:grey;
    }
    
    .btn {
        border-radius: 5%;
        padding: 10px;
        margin: 10px;
        background-color:black;
        font-weight: bold;
    }
    
    .btn2 {
        border-radius: 5%;
        padding: 10px;
        margin: 10px;
        background-color: black;
        font-weight: bold;
        height: 40px;
    }
    
    .btn>a,
    .btn2>a {
        font-weight: bold;
        font-size: 15px;
        color: white;
    }
    
    .credentialContainer {
        width: 100%;
        margin: auto;
        margin-top: 5px;
        
    }
    
    .mTop {
        margin-top: 71px;
    }
    
    .mTopBottom {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .credentialContainer>.credentialContent {
        margin-top: 0;
        padding-top: 0;
       
        width: 100%;
        color: rgb(233, 218, 218);
        font-style: normal;
        font-weight: normal;
        background: transparent;
    }
    
    .credentialContent>form {
        width: 100%;
        font-size: 18px;
    }
    
    .credentialContent>form>h3 {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        margin-top: 5px;
        font-size: 25px;
    }
    

    
    .credentialContent>form>table {
        margin: auto;
    }
    
    td {
        padding-bottom: 5px;
        align-items: flex-start;
        text-align: start;
    }
    
    input,
    select {
        background-color:white;
        border-radius: 5px;
        border: 2px solid black;
    }
    
    input:focus,
    select:focus {
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 1);
        color: white;
    }
    

    
    input {
        height: 25px;
    }
    
    
    .credBtn {
        margin: 20px;
        margin-top: 10px;
    }
    
    .credBtn2 {
        margin: 0px;
        margin-bottom: 20px;
    }
    

    
    .fgt {
        padding: 10px;
    }
    
    .fgt>a {
        font-weight: bold;
        
    }
    
    .fgtCntnt {
        text-transform: initial;
    }
    
    .cntct {
        width: 90%;
    }
    
    .cntct2 {
        width: 95%;
    }
    
    textarea {
        background-color: white;
        border-radius: 10px;
        border: 2px solid black;
        padding: 2px;
        width: 100%;
        max-width: 100%;
        padding-left: 7px;
        padding-right: 5px;
        font-family: Calibri;
        font-size: 15px;
    }
    
    textarea:focus {
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 1);
        color: white;
    }
    
    .ct {
        z-index: 9999;
        bottom: 25px;
        right: 25px;
        border-radius: 100%;
    }
    
    .ct2 {
        z-index: 9999;
        bottom: 80px;
        right: 25px;
    }
    
    .ctIcon {
        position: fixed;
        padding-left: 5px;
        padding-right: 5px;
        background-color: black;
        height: 50px;
    }
    
    .ctIcon>a {
        height: 100%;
        width: 100%;
        display: flex;

    }
    
    .ctIcon>a>img {
        height: 40px;
        width: 40px;
    }
    
    .ctIcon>a>p {
        font-size: 18px;
        color: white;
        font-weight: bold;
        padding-left: 2px;
        padding-right: 10px;
    }
    

    
    .getquoteinp {
        height: 35px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .getquoteselect {
        height: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .mimgdiv {
     
        width: 30%;
        margin: 10px;
        display: inline-block;
        align-items: center;
        background-color: black;
        justify-content: center;
        border: 5px solid black;
        border-radius: 15px;
    }
    
    .quoteimg {
        border-radius: 5px;
        height: 250px;
        width: 100%;
        margin: 0px;
    }
    
    .quoteH {
        color: white;
    }
    
    .mblogdiv {
        width: 90%;
        margin: 5px;
        padding: 15px;
        display: inline-block;
        text-align: start;
        background-color: black;
        color: white;
        border: 5px solid white;
        border-radius: 15px;
    }
    
    .blogHeading {
 
        text-align: center;
    }
    
    .blogImg {
        align-items: center;
        
        border-radius: 5px;
        max-height: 350px;
        width: 80%;
      
    }
    
    .blogH {
        margin: 0px;
        color: white;
    }
    
    .indblog>h3 {
        padding-top: 0px;
        padding-bottom: 15px;
        margin: 0;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    
    .inddiv {
        width: 80%;
    }
    
    .indblog>p>a {
        color: rgba(160, 153, 218, 1);
    }
    
    .revP {
        text-transform: initial;
    }
    
    .browseLinks {
        width: 100%;
    }
    
    .browseLinks>div {
        width: 30%;
        margin: 10px;
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    
    .browseLinks>div>ul>li>a {
        color: rgba(160, 153, 218, 1);
    }